$c-dark: #1D323A;
$c-yellow: #ffc700;
$c-red: #fb7f2a;
$c-green: #446465;
$c-light-gray: #c9cebd;
$f-roboto: 'Roboto', sans-serif;
$f-bebas: "Bebas Neue", sans-serif;
$f-martian: "Martian", monospace;


body {
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background: $c-dark;
}
#root{
    display: flex;
    justify-content: center;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}


.parser{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    width: 100%;
    padding: 40px 60px 80px;
    background: $c-dark;
    max-width: 1300px;
    &__topbar{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        grid-gap: 0 20px;
        grid-template-areas:
            "title title"
            "field buttons";
        margin-bottom: 20px;
        &__title{
            grid-area: title;
            color: $c-red;
            font-family: $f-bebas;
            font-weight: normal;
            &__version{
                color: $c-green;
                font-size: 0.9rem;
            }
        }
        &__inputs{
            grid-area: field;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            flex-direction: column;
            &label{
                display: none;
            }
            &__input{
                height: 100%;
                width: 100%;
                margin: 3px 0;
            }
        }
        &__buttons{
            grid-area: buttons;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-gap: 20px;
            grid-template: 1fr 1fr / 1fr 1fr;
            &__note{
                height: 80px;
                width: 150px;
                color: $c-light-gray;
                font-family: $f-roboto;
            }
            &__button{
                height: 80px;
                width: 140px;
                padding: 5px 5px;
                border: 2px solid rgba(0, 0, 0, 0.69);
                border-radius: 10px;
                background-color: $c-green;
                background-size: 100%;
                transition: all linear 0.05s;
                color: rgba($c-yellow, 0.9);
                text-shadow: 0 0 2px black;
                font-weight: bold;
                font-size: 1.2rem;
                font-family: $f-martian;
                &:hover{
                    color: rgba($c-yellow, 1);
                    border-width: 0;
                }
                &:active{
                    transition-duration: 0s;
                    border-width: 3px;
                }
            }
        }
    }
    &__output{
        width: 100%;
        height: 100%;
        &__counter{
            padding-top: 10px;
            font-family: $f-roboto;
            color: $c-light-gray;
        }
    }
    &-fields{
        background: $c-light-gray;
        padding: 5px;
        font-size: 0.8rem;
        border-radius: 1px;
        //box-shadow: 0 0 0 3px rgba(white,0.2);
        border: 2px solid rgba(black,0.5);
        font-family: $f-martian;
        &:focus-visible{
            box-shadow: 0 0 0 2px rgba($c-yellow,0.9);
        }
    }
}


@media screen and (max-width: 650px) {
    .parser{
        &__topbar{
            grid-template-columns: 1fr;
            grid-template-areas:
            "title"
            "field"
            "buttons";
            row-gap: 20px;
            &__inputs{
                height: 120px;
            }
            &__buttons__button{
                width: 100%;
            }
        }
    }
}
